<div class="users-with-access">
    <h5>Users with access</h5>
    <%= turbo_frame_tag "share-link" do %>
        <%= link_to "Generate share link", new_share_token_url(@game) if @game.user == current_user %>
    <% end %>
    <br>
    <% @game.users_with_shared_access.each do |user| %>
        <%= user.email %><%= link_to "(Revoke access)", games_url if @game.user == current_user %>
    <% end %>
</div>