<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>

<%= link_to "New game", new_game_url %>

<% @games.each do |game| %>
    <h5>Game created by <%= game.user.email %>.</h5>
    <%= last_frame_preview(game) %>
    <%= link_to "Open game", game_url(game) if game %>
<% end %>
