<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>

<% @games.each do |game| %>
    <%= last_frame_preview(game) %>
    <%= link_to "Open game", show_game_frame_url(game.frames.last) if game.frames.last %>
<% end %>
